name: 'Release & Publish to NPM'

on: workflow_dispatch

permissions:
  id-token: write # Required for OIDC authentication
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize Git user
        run: |
          git config --global user.email "azeezat94@gmail.com"
          git config --global user.name "Release Workflow"

      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'

      - name: Update NPM
        run: npm install -g npm@latest

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Release
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: End Message
        run: echo "All done"
